using DevExpress.XtraEditors;
using DevExpress.XtraEditors.Controls;
using NuanSystem.WinForms.Controls.Editors;
using NuanSystem.WinForms.Forms.Common;

namespace NuanSystem.WinForms.Forms.{{FEATURE_NAMESPACE}};

partial class {{SINGULAR}}EditForm
{
    private System.ComponentModel.IContainer components = null;
{{DESIGNER_DECLARATIONS}}
    private void InitializeComponent()
    {
{{DESIGNER_CREATES}}
{{DESIGNER_BEGIN_INIT}}
        SuspendLayout();
{{DESIGNER_LAYOUT}}
        Appearance.BackColor = Color.White;
        Appearance.Options.UseBackColor = true;
        AutoScaleDimensions = new SizeF(7F, 15F);
        AutoScaleMode = AutoScaleMode.Font;
        ClientSize = new Size(870, {{FORM_HEIGHT}});
        CancelButtonLocation = new Point(628, {{ACTION_Y}});
        SaveButtonLocation = new Point(734, {{ACTION_Y}});
        Font = new Font("Segoe UI", 9F, FontStyle.Regular, GraphicsUnit.Point);
{{DESIGNER_ADDS}}
        FormBorderStyle = FormBorderStyle.FixedDialog;
        MaximizeBox = false;
        MinimizeBox = false;
        MinimumSize = new Size(886, {{FORM_MIN_HEIGHT}});
        Name = "{{SINGULAR}}EditForm";
        StartPosition = FormStartPosition.CenterParent;
        Text = "{{TITLE}}";
{{DESIGNER_END_INIT}}
        ResumeLayout(false);
        PerformLayout();
    }
    protected override void Dispose(bool disposing)
    {
        if (disposing) components?.Dispose();
        base.Dispose(disposing);
    }
}
