using FluentValidation;

namespace NuanSystem.Application.Features.{{FEATURE_NAMESPACE}}.Commands;

internal static class {{SINGULAR}}ValidationRules
{
    public static void Apply(AbstractValidator<Create{{SINGULAR}}Command> validator)
    {
{{VALIDATOR_RULES}}
    }

    public static void Apply(AbstractValidator<Update{{SINGULAR}}Command> validator)
    {
{{VALIDATOR_RULES}}
    }
}

public sealed class Create{{SINGULAR}}CommandValidator : AbstractValidator<Create{{SINGULAR}}Command>
{
    public Create{{SINGULAR}}CommandValidator() => {{SINGULAR}}ValidationRules.Apply(this);
}

public sealed class Update{{SINGULAR}}CommandValidator : AbstractValidator<Update{{SINGULAR}}Command>
{
    public Update{{SINGULAR}}CommandValidator()
    {
        RuleFor(x => x.Id).GreaterThan(0);
        {{SINGULAR}}ValidationRules.Apply(this);
    }
}

public sealed class Delete{{SINGULAR}}CommandValidator : AbstractValidator<Delete{{SINGULAR}}Command>
{
    public Delete{{SINGULAR}}CommandValidator() => RuleFor(x => x.Id).GreaterThan(0);
}
